<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit a Book</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Edit a Book</h1>
      <form th:action="@{/update}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            id="title"
            class="form-control"
            th:field="*{title}"
          />
        </div>

        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input
            type="text"
            id="author"
            class="form-control"
            th:field="*{author}"
          />
        </div>

        <div class="mb-3">
          <label for="isbn" class="form-label">ISBN</label>
          <input
            type="text"
            id="isbn"
            class="form-control"
            th:field="*{isbn}"
          />
        </div>

        <div class="mb-3">
          <label for="publicationYear" class="form-label"
            >Publication Year</label
          >
          <input
            type="number"
            id="publicationYear"
            class="form-control"
            th:field="*{publicationYear}"
          />
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            step="0.01"
            id="price"
            class="form-control"
            th:field="*{price}"
          />
        </div>

         <div class="mb-3"></div>
          <label for="categorylist" class="form-label">Category</label>
          <select id="categorylist" th:field="*{category}" class="form-control">
            <option th:each="category : ${categories}" 
                    th:value="${category.categoryId}" 
                    th:text="${category.name}" 
                    th:selected="${category.categoryId == book.category.categoryId}">
            </option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/books" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </body>
</html>
